/*#BA0013*/
p, span, a {
  font-family: "Josefin Sans";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans";
}

header {
  background-color: white;
}

.navColor a {
  color: #BA0013 !important;
}
.navColor a:hover {
  color: "Josefin Sans" !important;
}

.carousel-indicators li {
  background-color: #FFA900 !important;
}

.icon-format {
  background-color: #BA0013;
  color: white;
}

.border-left {
  border-left: 6px solid #FFA900 !important;
}

.col-height {
  min-height: 300px;
}

.oferta .cuadro .background-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.oferta .cuadro:nth-child(1) .background-image {
  background-image: url("../img/clasificacion-arancelaria.jpg");
}
.oferta .cuadro:nth-child(2) .background-image {
  background-image: url("../img/asesoria-legal.jpg");
}
.oferta .cuadro:nth-child(3) .background-image {
  background-image: url("../img/permisos-de-importacion.jpg");
}
.oferta .cuadro:nth-child(4) .background-image {
  background-image: url("../img/consultas-sanitarias.jpg");
}
.oferta .cuadro .background-image .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  transition: 0.5s ease;
}
.oferta .cuadro:nth-child(1) .background-image .overlay, .oferta .cuadro:nth-child(3) .background-image .overlay {
  background-color: #BA0013;
}
.oferta .cuadro:nth-child(2) .background-image .overlay, .oferta .cuadro:nth-child(4) .background-image .overlay {
  background-color: #FFA900;
}
.oferta .cuadro:nth-child(1) .background-image:hover .overlay, .oferta .cuadro:nth-child(3) .background-image:hover .overlay {
  background-color: #BA0013A0;
  height: 100%;
}
.oferta .cuadro:nth-child(2) .background-image:hover .overlay, .oferta .cuadro:nth-child(4) .background-image:hover .overlay {
  background-color: #FFA900A0;
  height: 100%;
}

.background-image1:hover .text, .background-image3:hover .text {
  font-weight: 600 !important;
  font-size: 2em;
  white-space: wrap;
  color: #FFA900;
}

.background-image2:hover .text, .background-image4:hover .text {
  font-weight: 600 !important;
  font-size: 2em;
  white-space: wrap;
  color: #BA0013;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 1em;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease;
}

.socket-color {
  background-color: #FFA90080;
}

.footer-color {
  background-color: #FFA90023;
}

.text-size {
  font-size: 0.8em;
}

.subnavColor a {
  color: #BA0013 !important;
  font-size: 0.8em;
  transition: 0.5 ease-in;
}
.subnavColor a:hover {
  font-weight: 600;
  font-size: 0.9em;
}

.serviceHeigth {
  min-height: 480px;
  border-bottom: 5px solid lightgray;
}

.buttonColor {
  background-color: #BA0013;
  color: #FFA900;
  font-weight: 500;
  transition: all 0.3s ease;
}
.buttonColor:hover {
  color: #BA0013;
  background-color: #FFA900;
}

.liststyle {
  list-style: none;
}

.aboutHeigth {
  min-height: 500px;
  border-bottom: 5px solid lightgray;
}

.borderbottom {
  border-bottom: 5px solid lightgray;
}

.contactimg {
  background-image: url("../img/contacto.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 500px;
}

.buttonContact {
  color: #BA0013;
  font-size: 2em;
  transition: all 0.3s ease;
  text-decoration: none;
}
.buttonContact:hover {
  color: #FFA900;
}

/*# sourceMappingURL=estilos.css.map */
