/*#BA0013*/
header{
    background-color: white;
}

.navColor a{
    color: #BA0013 !important;
}

.navColor a:hover{
    color: #FFA900 !important; 
}

.carousel-indicators li{
    background-color: #FFA900 !important;
}

.icon-format{
    background-color: #BA0013;
    color: white;
}
