/*#BA0013*/

@import "variables";

p, span, a{
    font-family: $fontSc;
}

h1, h2, h3, h4, h5, h6{
    font-family: $fontPr;
}

header{
    background-color: white;
}

.navColor a{
    color: $colorPr !important;

    &:hover{
        color: $colorSc !important; 
    }
}

.carousel-indicators li{
    background-color: $colorSc !important;
}

.icon-format{
    background-color: $colorPr;
    color: white;
}

.border-left{
    border-left: 6px solid $colorSc !important;
}

.col-height{
    min-height: 300px;
}

.oferta .cuadro{
    & .background-image{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
    }

    $img:(
        fondo1:'../img/clasificacion-arancelaria.jpg',
        fondo2:'../img/asesoria-legal.jpg',
        fondo3:'../img/permisos-de-importacion.jpg',
        fondo4:'../img/consultas-sanitarias.jpg' 
    );

    @mixin fondo($imagen) {
        background-image: url($imagen);
    }
     
    &:nth-child(1) .background-image{
        @include fondo(map-get($img, fondo1));
    }
     
    &:nth-child(2) .background-image{
        @include fondo(map-get($img, fondo2));
    }

    &:nth-child(3) .background-image{
        @include fondo(map-get($img, fondo3));
    }

    &:nth-child(4) .background-image{
        @include fondo(map-get($img, fondo4));
    }

    & .background-image .overlay{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px;
        transition: .5s ease;
    }

    & .background-image .text{
        white-space: nowrap; 
        color: white;
        font-size: 1em;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .5s ease;
    }

    &:nth-child(1) .background-image .overlay, &:nth-child(3) .background-image .overlay{
        background-color: $colorPr;
    }

    &:nth-child(2) .background-image .overlay, &:nth-child(4) .background-image .overlay{
        background-color: $colorSc;
    }

    &:nth-child(1) .background-image:hover .overlay, &:nth-child(3) .background-image:hover .overlay{
        background-color: #{$colorPr}A0;
        height: 100%;
    }

    &:nth-child(2) .background-image:hover .overlay, &:nth-child(4) .background-image:hover .overlay{
        background-color: #{$colorSc}A0;
        height: 100%;
    }

    & .background-image:hover .text{
        font-weight: 600 !important;
        font-size: 1.2em;
        white-space: wrap;
        background-color: #000000;
        color: #ffffff;
    }

    &:nth-child(1) .background-image:hover .text, &:nth-child(3) .background-image:hover .text{
        background-color: #000000a0;
        color: $colorSc;
    }

    &:nth-child(2) .background-image:hover .text, &:nth-child(4) .background-image:hover .text{
        background-color: #ffffffa0;
        color: $colorPr;
    }

}

.socket-color{
    background-color: #{$colorSc}80;
}

.footer-color{
    background-color: #{$colorSc}23;
}

.text-size{
    font-size: .8em;
}

.subnavColor a{
    color: $colorPr !important;
    font-size: .8em;
    transition: 0.5 ease-in;

    &:hover{
        font-weight: 600;
        font-size: 0.9em;
    }
}


.tit-servicio{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-decoration: underline;
    background-color: #6F7073;
}

.clasi{
    @extend .tit-servicio;
    background-color: #8B8B8C;
}

.legal{
    @extend .tit-servicio;
    background-color: #BDBEBF;
}

.permi{
    @extend .tit-servicio;
    background-color: #D9D9D9;
}

.sanit{
    @extend .tit-servicio;
    background-color: #F2F2F2;
}

.serviceHeigth{
    min-height: 480px;
    background-image: url('../img/fondo-servicios.png');
    background-size: contain;
    border-bottom: 5px solid lightgray;
}

.buttonColor{
    background-color: $colorPr;
    color: $colorSc;
    font-weight: 500;
    transition: all .3s ease;

    &:hover{
        color: $colorPr;
        background-color: $colorSc;
    }
}

.liststyle{
    list-style: none;
}

.aboutHeigth{
    min-height: 500px;
    border-bottom: 5px solid lightgray;
}

.borderbottom{
    border-bottom: 5px solid lightgray;
}

.contactimg{
    background-image: url("../img/contacto.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    min-height: 500px;
}

.buttonContact{
    color: $colorPr;
    font-size: 2em;
    transition: all .3s ease;
    text-decoration: none;

    &:hover{
        color: $colorSc;
    }
}